[submodule "Tools/FE-CLib"]
	path = Tools/FE-CLib
	url = https://github.com/StanHash/FE-CLib.git
[submodule "Tools/FE-PyTools"]
	path = Tools/FE-PyTools
	url = https://github.com/StanHash/FE-PyTools.git
[submodule "Tools/FE-CLib-Mokha"]
	path = Tools/FE-CLib-Mokha
	url = https://github.com/MokhaLeee/FE-CLib-Mokha.git
[submodule "Tools/EventAssembler"]
	path = Tools/EventAssembler
	url = https://github.com/StanHash/EventAssembler.git
